* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/space.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  text-align: center;
}

form {
  position: absolute;
  height: 100%;
  display: block;
  left: 0%;
  top: 0;
}

.ids {
  font-size: 70px;
  text-align: left;
  width: 60%;
  margin: auto;
}

.submit-btn {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 27%;
  left: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
}

.form1 {
  float: left;
  position: relative;
  width: 10%;
}

.temp_to {
  color: white;
  font-size: 40px;
  border: solid blue;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  float: right;
}
